.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    &__logo{
        display: inline-block;

        h2{
            font-size: 2.4rem;
        }

        span{
            color: $primary;
            font-size: 3rem;
            font-family: 'Yellowtail';
        }
    }

    &__mobile.ui.button{
        display: none;
    }


    @media(max-width:768px){
        border-bottom: 1px solid $font-secondary;
        
        &__mobile.ui.button{
            display: inline-block;
            background-color: $background-primary;
            color: $primary;
            padding: 0;
            margin: 0;

            .bars.icon{
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }
        }        
    }
}

.Navigation{
    display: flex;
    align-items: center;
    text-align: right;
    
    a{
        display: block;
        color: $font-secondary;
        font-size: 2rem;
        margin-left: 2rem;

        &:first-child{
            margin-left: 0;
        }
    

        &:hover{
            color: $primary;
            transition: all 0.3s ease-out;
        }

        &:hover:after{         
            width:30%;   
            transition: width .2s ease-in-out; 
            background-color: $primary;
        }

        &::after{
            content: '';
            width:.1rem;
            height: .3rem;
            display: block;
            background-color: transparent;           
            
        }
    }    

    @media(max-width:768px){
        position: absolute;
        transform: scaleY(0);
        transform-origin:0 0;
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        top:5.5rem;
        width:100%;
        left:0;
        z-index: 90;
        background-color: $background-secondary;

        a{
            color: $primary;
            margin-left: 2rem!important;
        }

        &--active{
            transform: scaleY(1);
        }
        
    }
}

.ui.button.Cart{
    background-color: $background-primary;
    color: $font-secondary;
    
    i{
        font-size: 2rem;
    }
    &:hover{
        color: $primary;
        transition: all 0.3s ease-out;
    }
    
}