.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    &__logo{
        display: inline-block;

        h2{
            font-size: 2.4rem;
        }

        span{
            color: $primary;
            font-size: 3rem;
            font-family: 'Yellowtail';
        }
    }
}

.Navigation{

    a{
        font-size: 2rem;
    }
}