$font:#ffff;
$font-transparent: #2e3454b9;
$background-primary: #0E1630;
$background-secondary: #171F38;
$primary: #EB4A4A;
$header-background: #7a7c9c;
$highlight: #5269ee;
$font-secondary: #808dad;
$error:#951414;

