.LandingCard{
    display: block;
    flex-direction: column;
    background-color: $background-secondary;
    height: 34rem;
    aspect-ratio: 1 / 1;
    padding: 4rem;

    &--highlighted{
        background-color: $primary;
    }

    &__icon{
        color: $primary;
        
        &--highlighted{
            color:$font;
        }
    }

    &__title{
        font-size: 2.4rem;
        font-weight: 700;
    }  

    &__description{
        max-width: 30ch;
        font-size: 1em;
        line-height: 2.7rem;
        margin: 2rem 0;
        color: $font-secondary;

        &--highlighted{
            color:$font;
        }
    }

    @media(max-width:768px){
        max-width: 80%;
    }
}