.Product{
    border: 1px solid $primary;
    border-radius: .8rem;
    padding: 2rem;
    background-color: $background-secondary;

    &--disabled{
        filter: grayscale(.7);
    }

    &__name{
        margin: .5rem 0;
    }

    &__price{
        font-size: 2rem;
        color: $primary;
    }   

    &__actions{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        margin-top: 1rem;

        .ui.input > input{
            background-color: $background-primary;
        }
    }

    &__head{
        display: flex;
        justify-content: space-between;

        p{
            color: $font-secondary;
            margin: 0;
            margin-top: 1rem;
        }
    }
}